# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/data/explanation_datasets/
/data/utils/contriever_src/contriever_embeddings/*
/data/utils/contriever_src/contriever_results/*
/data/utils/infilling/common_unify_data/
/data/utils/infilling/infill_unify_data/
/code/EIB_model/EIB_train_cpt.zip
/code/EIB_model/ecqa/
/code/EIB_model/esnli/
**/.DS_Store
/venv

.idea